@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.popins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.product-heading{
    font-weight: 700;
}

.container-box {
    width: 100%;
    max-width: 345px; 
    margin: 0 auto; 
    padding: 10px; 
}

.card {
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card img {
    border-radius: 12px 12px 0 0; 
}

.card-link {
    text-decoration: none; 
    color: inherit; 
}

.card-title, .card-category {
    color: #000; 
}

.card-actions {
    padding: 8px 16px; 
}

@media (max-width: 767px) {
    .container-box {
        max-width: 100%; 
    }
}


.product-card {
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-image {
    transition: transform 0.3s ease;
}

.product-card:hover .card-image {
    transform: scale(1.09);
}

