@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.popins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.map-container {
    height: 525px;
    position: relative;
    overflow: hidden;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  @media (max-width: 768px) {
    .map-container {
      height: 300px; 
    }
  }
  
  @media (max-width: 576px) {
    .map-container {
      height: 225px; 
    }
  }
  

  